@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="bg-primary text-white py-5 shadow-lg rounded-2">
    <div class="container text-center py-5">
        <h1 class="display-4 fw-bold">Soluția ta modernă</h1>
        <p class="lead">Mergi cu afacerea ta la alt nivel.</p>
        <div class="mt-4">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-light btn-lg me-2">
                Începe Acum
            </a>
            <button class="btn btn-outline-primary border-white text-white btn-lg">Află mai multe</button
        </div>
        <div class="mt-4">
    <img src="~/images/hotel.jpg" 
         class="img-fluid rounded-3 shadow-sm" 
         style="max-width: 400px; width: 100%;" 
         alt="Imagine Hotel">
</div>
    </div>
</section>



